@import 'core/global';
@import 'core/header';
@import 'core/footer';
@import 'core/modal';

.Hero {
  min-height: 440px;
  background: url('../images/about/hero.jpg') center center;
  background-size: cover;
  position: relative;
  padding: 20px 0;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba($color--white, .2);
  }
  @media only screen and (max-width:$bp--medium) {
    min-height: auto;
  }
  &-header {
    padding-bottom: $spacing--small;
  }
  &-contentBox {
    margin: 0 0 0 5%;
    background-color: rgba($color--green, .9);
    position: relative;
    z-index: 2; // Get above the fade
    @extend %circlebox;
    @media only screen and (max-width:$bp--small) {
      margin: 0 auto;
    }
  }
  &-innerContentBox {
    @extend %circlebox-inner;
  }
}
.About {
  padding: $spacing--xxlarge;
  text-align: center;
  @media only screen and (max-width:$bp--medium) {
    padding: $spacing--large;
  }
  &-quote {
    margin-bottom: $spacing--small;
  }
  &-quoteAuthor {
    font-size: $fontsize--xsmall;
    font-style: italic;
  }
}
.AdvisoryBoard {
  padding: 40px $spacing--medium $spacing--xlarge;
  background-image: url('../images/splash_bg_light_top.gif'), url('../images/splash_bg_light_mid.gif');
  background-position: left top, left center;
  background-repeat: no-repeat, repeat-y;
  background-size: 100%;
  @media only screen and (max-width:$bp--medium) {
    padding: $spacing--medium $spacing--small $spacing--large 0;
  }
  &-content,
  &-readMore {
    font-size: $fontsize--small;
  }
  &-content {
    margin-bottom: $spacing--small;
  }
  &-img {
    width: 100%;
    max-width: 400px;
    @media only screen and (max-width:$bp--medium) {
      max-width: 200px;
    }
  }
  &-readMore {
    font-weight: bold;
  }
  &-col {
    padding: 20px;
    @media only screen and (max-width:$bp--large) {
      padding: 15px;
    }
  }
}
.AdvisoryBoardFull {
  &-img {
    float: left;
    margin: 0 15px 0 0;
    width: 40%;
    max-width: 400px;
    @media only screen and (max-width:$bp--medium) {
      display: block;
      max-width: 200px;
    }
  }
  &-content {
    margin-bottom: $spacing--medium;
  }
}