@import 'core/global';
@import 'core/header';
@import 'core/footer';

.Hero {
  min-height: 440px;
  background: url('../images/cleanse/hero.jpg') center center;
  background-size: cover;
  position: relative;
  padding: 20px 0;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba($color--white, .2);
  }
  @media only screen and (max-width:$bp--medium) {
    min-height: auto;
  }
  &-header {
    padding-bottom: $spacing--small;
  }
  &-contentBox {
    margin: 0 auto;
    background-color: rgba($color--orange, .9);
    position: relative;
    z-index: 2; // Get above the fade
    @extend %circlebox;
  }
  &-innerContentBox {
    @extend %circlebox-inner;
  }
}
.CleanseContent {
  padding: $spacing--xxlarge;
  @media only screen and (max-width:$bp--medium) {
    padding: $spacing--large;
  }
  &-item {
    padding-bottom: $spacing--large;
    margin-bottom: $spacing--large;
    border-bottom: solid 1px $color--light;
    &:last-child {
      border: 0;
    }
  }
  &-img {
    width: 90%;
    display: block;
    margin: 0 auto;
    @media only screen and (max-width:$bp--medium) {
      margin: $spacing--medium 0 0;
      width: 100%;
    }
  }
}
.CleanseContent {
  padding: $spacing--xxlarge;
  @media only screen and (max-width:$bp--medium) {
    padding: $spacing--large;
  }
  &-item {
    padding-bottom: $spacing--large;
    margin-bottom: $spacing--large;
    border-bottom: solid 1px $color--light;
    &:last-child {
      border: 0;
    }
  }
  &-img {
    width: 90%;
    display: block;
    margin: 0 auto;
    @media only screen and (max-width:$bp--medium) {
      margin: $spacing--medium 0 0;
      width: 100%;
    }
  }
  &-cta {
    @extend %button;
    background-color: $color--orange;
    color: $color--white;
    margin-left: 10px;
  }
}