@import 'core/global';
@import 'core/header';
@import 'core/footer';

.Hero {
  min-height: 440px;
  background: url('../images/deliveries/hero.jpg') center center;
  background-size: cover;
  position: relative;
  padding: 20px 0;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba($color--white, .2);
  }
  @media only screen and (max-width:$bp--medium) {
    min-height: auto;
  }
  &-header {
    padding-bottom: $spacing--small;
  }
  &-contentBox {
    margin: 0 0 0 5%;
    background-color: rgba($color--pink, .9);
    position: relative;
    z-index: 2; // Get above the fade
    @extend %circlebox;
    @media only screen and (max-width:$bp--small) {
      margin: 0 auto;
    }
  }
  &-innerContentBox {
    @extend %circlebox-inner;
  }
}
.DeliveriesContent {
  padding: $spacing--xxlarge;
  @media only screen and (max-width:$bp--medium) {
    padding: $spacing--medium;
  }
}
.DeliveriesForm {
  table {
    width: 100%;
  }
  &-label,
  &-labelTextArea {
    font-family: $font--primary;
    font-size: $fontsize--xlarge;
    @media only screen and (max-width:$bp--small) {
      font-size: $fontsize--medium;
    }
  }
  &-label {
    width: 10%;
    text-align: right;
    padding-right: 1%;
    vertical-align: bottom;
  }
  &-field {
    padding: 10px 10px 3px;
    border-bottom: solid 2px $color--light;
    vertical-align: middle;
  }
  &-labelTextArea {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: $spacing--small;
  }
  &-textAreaWrap {
    padding: 5px;
    border: solid 2px $color--light;
    margin-bottom: $spacing--medium;
  }
  textarea {
    width: 100%;
    padding: 0;
    border: 0;
    min-height: 100px;
    font-family: $font--base;
    font-size: $fontsize--small;
    outline: none;
  }
  input {
    border: 0;
    padding: 0;
    display: inline-block;
    font-size: $fontsize--small;
    width: 100%;
    background: none;
  }
  &-submit {
    @extend %button;
    color: $color--white;
    background-color: $color--pink;
    margin: 0 auto;
    display: block;
  }
}