@import 'core/global';
@import 'core/header';
// @import 'core/footer';

.Hero {
  background-color: $color--green;
  color: $color--white;
  min-height: 300px;
  max-height: 800px;
  overflow: auto;
}
