@import 'core/global';
@import 'core/header';
@import 'core/footer';

.Hero {
  min-height: 440px;
  background: url('../images/home/hero.jpg') bottom center;
  background-size: cover;
  position: relative;
  padding: 20px 0;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba($color--white, .2);
  }
  @media only screen and (max-width:$bp--medium) {
    min-height: auto;
  }
  &-header {
    padding-bottom: $spacing--small;
  }
  &-contentBox {
    margin: 0 auto;
    background-color: rgba($color--pink, .9);
    position: relative;
    z-index: 2; // Get above the fade
    @extend %circlebox;
  }
  &-innerContentBox {
    padding: 20% 5%;
    color: $color--white;
    text-align: center;
  }
  &-cta {
    @extend %button;
    background-color: $color--white;
    color: $color--pink;
    &:after {
      border-left-color: $color--pink;
    }
  }
}
.MenuHero {
  padding: 50px $spacing--large;
  text-align: center;
  background: url('../images/home/tan_texture.svg') repeat #f4f0e7;
  @media only screen and (max-width:$bp--small) {
    padding: $spacing--large $spacing--medium;
  }
  &-contentBox {
    max-width: 60%;
    margin: 0 auto;
    @media only screen and (max-width:$bp--large) {
      max-width: 90%;
    }
    img {
      width: 100%;
    }
  }
  &-row {
    padding-bottom: $spacing--xlarge;
    @media only screen and (max-width: $bp--small) {
      padding-bottom: 25px;
    }
  }
  &-cta {
    @extend %button;
    background-color: $color--base;
    color: $color--white;
  }
}
.CleanseHero {
  margin: 70px 0;
  padding: $spacing--medium;
  display: flex;
  align-items: center;
  @media only screen and (max-width:$bp--medium) {
    margin: 40px 0 50px;
  }
  @media only screen and (max-width:$bp--small) {
    display: block;
  }
  &-contentBox {
    padding: 0 50px;
    flex: 1;
    @media only screen and (max-width:$bp--large) {
      padding: 20px;
    }
    @media only screen and (max-width:$bp--medium) {
      flex: 2;
    }
  }
  &-cta {
    @extend %button;
    background-color: $color--orange;
    color: $color--white;
  }
  &-decor {
    flex: 2;
    @media only screen and (max-width:$bp--medium) {
      flex: 1;
    }
    img {
      width: 100%;
    }
  }
}
.DeliveryHero {
  padding: 50px 0;
  background: url('../images/home/delivery.jpg') no-repeat center;
  background-size: cover;
  &-contentBox {
    margin: 0 5% 0 auto;
    background-color: rgba($color--green, .9);
    @extend %circlebox;
    @media only screen and (max-width:$bp--small) {
      margin: 0 auto;
    }
  }
  &-innerContentBox {
    padding: 25% 5%;
    color: $color--white;
    text-align: center;
  }
  &-cta {
    @extend %button;
    background-color: $color--white;
    color: $color--green;
    &:after {
      border-left-color: $color--green;
    }
  }
}