@import 'core/global';
@import 'core/header';
@import 'core/footer';

.Hero {
  min-height: 440px;
  background: url('../images/home/hero.jpg') center;
  background-size: cover;
  position: relative;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba($color--white, .2);
  }
  @media only screen and (max-width:$bp--small) {
    min-height: auto;
  }
  &-contentBox {
    background-color: $color--green;
    margin: $spacing--medium;
    color: $color--white;
    padding: $spacing--medium;
    min-width: 30%;
    max-width: 50%;
    display: inline-block;
    position: relative;
    z-index: 2;
    @media only screen and (max-width:$bp--small) {
      max-width: 100%;
      background: rgba($color--green, .8);
    }
  }
  &-cta {
    @extend %button;
    background-color: $color--white;
    color: $color--green;
    &:after {
      border-left-color: $color--green;
    }
  }
}
.MenuHero {
  padding: $spacing--xlarge $spacing--large;
  text-align: center;
  @media only screen and (max-width:$bp--small) {
    padding: $spacing--large $spacing--medium;
  }
  &-contentBox {
    padding: $spacing--xlarge 0;
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    @media only screen and (max-width:$bp--medium) {
      max-width: 100%;
      padding: $spacing--medium 0;
    }
    img {
      width: 80%;
    }
  }
  &-contentCol {
    flex: 1;
    padding: $spacing--medium;
    @media only screen and (max-width:$bp--small) {
      padding: $spacing--medium $spacing--small;
    }
  }
  &-cta {
    @extend %button;
    background-color: $color--base;
    color: $color--white;
  }
}
.CleanseHero {
  margin: $spacing--large 0;
  padding: $spacing--medium;
  background-color: $color--orange;
  position: relative;
  @media only screen and (max-width:$bp--small) {
    margin: 0;
  }
  &-contentBox {
    padding: $spacing--medium;
    color: $color--white;
    max-width: 50%;
    position: relative;
    z-index: 2;
    background-color: rgba($color--orange, .8);
    @media only screen and (max-width:$bp--small) {
      max-width: 100%;
    }
  }
  &-cta {
    @extend %button;
    background-color: $color--white;
    color: $color--orange;
    &:after {
      border-left-color: $color--orange;
    }
  }
  &-decor {
    position: absolute;
    right: 0;
    top: -$spacing--large;
    z-index: 1;
    @media only screen and (max-width:$bp--small) {
      top: auto;
      bottom: -5%;
    }
    img {
      width: 100%;
    }
  }
}
.DeliveryHero {
  padding: $spacing--xlarge 0;
  display: flex;
  @media only screen and (max-width:$bp--small) {
    display: block;
  }
  &-decor {
    flex: 1;
    img {
      width: 100%;
    }
  }
  &-contentBox {
    flex: 1;
    padding: 0 $spacing--large;
    @media only screen and (max-width:$bp--small) {
      padding-top: $spacing--large;
    }
  }
  &-cta {
    @extend %button;
    background-color: $color--green;
    color: $color--white;
  }
}