@import 'core/global';
@import 'core/header';
@import 'core/footer';

.Menu {
  background-color: #f5efe4;
  background-size: 20%;
  padding: $spacing--medium;
  position: relative;
  &::after {
    position: absolute;
    background: url('../images/menu/vegetable_pattern.png') repeat bottom;
    opacity: .04;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
  }
  &-cat {
    padding: $spacing--medium 0;
  }
  &-catHeader {
    background: url('../images/splash_green.png') repeat-y;
    line-height: 140%;
    color: $color--white;
    width: 270px;
    text-align: center;
    @media only screen and (max-width:$bp--small) {
      margin: 0 auto;
    }
  }
  &-item {
    float: left;
    width: 46%;
    padding: 2%;
    @media only screen and (max-width:$bp--small) {
      float: none;
      width: 96%;
    }
  }
}