@import 'core/global';
@import 'core/header';
@import 'core/footer';

.MenuWrap {
  background: url('../images/menu/wood_grain.jpg') repeat;
  padding: 30px;
  @media only screen and (max-width:$bp--medium) {
    padding: 10px;
  }
}
.Menu {
  background: url('../images/menu/chalkboard.jpg') repeat #000;
  color: $color--offwhite;
  padding: 20px;
  @media only screen and (max-width:$bp--medium) {
    padding: 10px;
  }
  &-cat {
    padding: $spacing--medium;
    border: solid 10px $color--offwhite;
    margin-bottom: 20px;
    @media only screen and (max-width:$bp--medium) {
      border-width: 5px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-catHeader {
    text-align: center;
    display: block;
    padding-bottom: 10px;
    font-size: 300%;
    border-bottom: solid 5px $color--offwhite;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  &-catPriceBySize {
    margin-top: $spacing--small;
    text-align: center;
  }
  &-itemBlock {
    column-count: 2;
    column-gap: 50px;
    padding: 30px;
    @media only screen and (max-width:$bp--small) {
      column-count: 1;
      column-gap: 0;
      padding: 0;
    }
  }
  &-item {
    padding: 10px  0 15px;
    width: 100%;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
  }
  &-itemName {
    margin-bottom: 5px;
    @media only screen and (max-width:$bp--small) {
      margin-bottom: 0;
    }
  }
  &-itemName,
  &-catHeader,
  &-catPriceBySize {
    font-family: 'Pacifico', cursive;
  }
}