@import 'core/global';
@import 'core/header';
@import 'core/footer';

.Menu {
  background-color: #f5efe4;
  background-size: 20%;
  padding: $spacing--medium;
  position: relative;
  &::after {
    position: absolute;
    background: url('../images/menu/vegetable_pattern.png') repeat bottom;
    opacity: .04;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 0;
  }
  &-cat {
    padding: $spacing--medium 0;
    z-index: 1;
    position: relative;
  }
  &-catHeader {
    background: url('../images/splash_green.png') repeat-y;
    line-height: 140%;
    color: $color--white;
    width: 270px;
    text-align: center;
    @media only screen and (max-width:$bp--small) {
      margin: 0 auto;
    }
  }
  &-catPriceBySize {
    margin: $spacing--small $spacing--small 0;
  }
  &-itemBlock {
    column-count: 2;
    padding: $spacing--small;
    @media only screen and (max-width:$bp--small) {
      column-count: 1;
    }
  }
  &-item {
    padding: 2%;
    width: 96%;
    display: inline-block;
  }
}