.Footer {
  background-color: $color--base;
  color: $color--light;
  padding: $spacing--large;
  @media only screen and (max-width:$bp--mobile) {
    padding: $spacing--small;
  }
  &-header {
    margin-bottom: 3px;
  }
  &-copy {
    margin-bottom: $spacing--medium;
  }
  &-nav {
    margin: $spacing--medium 0;
    padding: $spacing--medium 0;
    text-align: center;
    border-top: solid 1px $color--medium;
    border-bottom: solid 1px $color--medium;
  }
  .Nav-item {
    margin-left: 20px;
    color: $color--light;
    padding: 5px;
    &:hover {
      background-color: $color--light;
      color: $color--base;
    }
  }
  &-close {
    text-align: center;
    font-size: $fontsize--small;
  }
  &-copyright {
    font-size: $fontsize--xsmall;
  }
}