// Color Variables
$color--green: #a1d782;
$color--orange: #f0a861;
$color--dark: #212126;
$color--medium: #878787;
$color--light:  #e5e8ee;
$color--base: #414246;
$color--white: #fff;

// Spacing Variables
$spacing--xsmall: 5px;
$spacing--small: 10px;
$spacing--medium: 20px;
$spacing--large: 30px;
$spacing--xlarge: 50px;
$spacing--mobilesmall: 5px;
$spacing--mobilemedium: 10px;
$spacing--mobilelarge: 20px;

// Font Size Variables
$fontsize--base: 22px;
$fontsize--largebase: 18px;
$fontsize--mediumbase: 18px;
$fontsize--smallbase: 16px;
$fontsize--xsmall: 70%;
$fontsize--small: 80%;
$fontsize--reset: 100%;
$fontsize--medium: 120%;
$fontsize--large: 140%;
$fontsize--xlarge: 170%;
$fontsize--xxlarge: 210%;

// Font Family Variables
$font--base: 'Open Sans', arial, sans-serif;
$font--primary: 'SinaNova', times new roman, serif;

// Breakpoint Variables
$bp--large: 1119px;
$bp--medium: 750px;
$bp--small: 600px;

// Placeholders
%button {
  padding: $spacing--xsmall $spacing--small;
  &:after {
    content:'';
    display: inline-block;
    margin-left: 10px;
    border-top: 7px solid transparent;
    border-left: 9px solid $color--white;
    border-bottom: 7px solid transparent;
    @media only screen and (max-width:$bp--large) {
      border-top-width: 6px;
      border-bottom-width: 6px;
      border-left-width: 8px;
    }
    @media only screen and (max-width:$bp--small) {
      border-top-width: 5px;
      border-bottom-width: 5px;
      border-left-width: 7px;
    }
  }
}

// Utility
.u-FlexBox {
  display: flex;
}
@media only screen and (max-width:$bp--medium) {
  .u-NoMobileFlex {
    display: block;
    .u-ColMargin {
      margin-left: 0;
    }
  }
}
.u-Col {
  flex: 1;
}
.u-Col--medium {
  flex: 2;
}
.u-Col--large {
  flex: 3;
}
.u-Block {
  margin: $spacing--medium;
  padding: $spacing--small;
  @media only screen and (max-device-width:$bp--medium) {
    margin: $spacing--mobilemedium;
  }
}
.u-Row--small {
  margin-bottom: $spacing--small;
}
.u-Row--medium {
  margin-bottom: $spacing--medium;
}
.u-Row--large {
  margin-bottom: $spacing--large;
}
.u-Relative {
  position: relative;
}
.u-InlineBlock {
  display: inline-block;
}
.u-ColMargin {
  margin-left: $spacing--medium;
}
.u-InnerPadding {
  padding: $spacing--medium;
}

// Resets
body {
  margin: 0;
  background-color: $color--base;
  font-family: $font--base;
  font-weight: 300;
  font-size: $fontsize--base;
  @media only screen and (max-width:$bp--large) {
    font-size: $fontsize--largebase;
  }
  @media only screen and (max-width:$bp--medium) {
    font-size: $fontsize--mediumbase;
  }
  @media only screen and (max-width:$bp--small) {
    font-size: $fontsize--smallbase;
  }
}
p, h1, h2, h3, h4 {
  margin: 0;
  font-weight: 300;
}
p {
  line-height: 130%;
}
h1, h2, h3, h4 {
  font-family: $font--primary;
}
h1 {
  font-size: $fontsize--xxlarge;
}
h2 {
  font-size: $fontsize--xlarge;
}
h3 {
  font-size: $fontsize--large;
}
h4 {
  font-size: $fontsize--medium;
}
a {
  text-decoration: none;
  color: $color--dark;
}
input {
  padding: $spacing--small;
  border: solid 1px $color--medium;
  color: $color--medium;
  background-color: $color--light;
  font-size: $fontsize--small;
  outline: none;
  font-family: $font--base;
}
button {
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: $fontsize--reset;
  font-weight: 300;
  font-family: $font--base;
}
// TODO move this to footer form
button[type="submit"] {
  background-color: $color--dark;
  color: $color--white;
  padding: $spacing--small;
  font-size: $fontsize--small;
}

@font-face {
  font-family: 'SinaNova';
  src: url('../fonts/SinaNovaReg-webfont.woff2') format('woff2'),
       url('../fonts/SinaNovaReg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Base
.Wrap {
  width: 95%;
  margin: 0 auto;
  background-color: $color--white;
  @media only screen and (max-width:$bp--large) {
    width: 100%;
  }
}