.Header {
  padding: $spacing--medium $spacing--medium $spacing--xsmall;
}
.Logo {
  width: 20%;
  padding-left: $spacing--small;
  &-img {
    width: 100%;
  }
}
.Nav {
  width: 80%;
  position: relative;
  &-inner {
    bottom: 6%;
    position: absolute;
    margin-left: 5%;
  }
  &-item {
    margin-left: 5px;
    padding: 5px;
    font-size: $fontsize--large;
    &:last-child {
      margin-right: 5px;
    }
    &:hover {
      background-color: $color--green;
      color: $color--white;
    }
  }
}