.Header {
  padding: $spacing--medium $spacing--medium $spacing--xsmall;
  display: flex;
  background-color: #fff;
  @media only screen and (max-width:$bp--large) {
    padding: $spacing--small $spacing--small $spacing--xsmall;
    display: block;
  }
  .Logo {
    width: 20%;
    padding-left: $spacing--small;
    &-img {
      width: 100%;
    }
    @media only screen and (max-width:$bp--large) {
      width: 30%;
      padding: 0;
      margin: 0 auto $spacing--xsmall;
    }
  }
  .Nav {
    margin: 6% 0 0 auto;
    @media only screen and (max-width:$bp--large) {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    &-item {
      display: inline-block;
      margin-left: 15px;
      padding: 5px;
      font-size: $fontsize--medium;
      &:last-child {
        margin-right: 5px;
      }
      &:hover {
        background-color: $color--green;
        color: $color--white;
      }
      @media only screen and (max-width:$bp--large) {
        margin-left: 5px;
      }
    }
  }
  &-mobileNav {
    display: none;
  }
}

.js-enabled {
  @media only screen and (max-width:$bp--small) {
    .Header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99;
      height: 75px;
      padding: 0;
      box-shadow: 0 0 12px 2px #9e9e9e;
      .Logo {
        padding: 0;
        height: 100%;
        margin: 0;
        width: auto;
        text-align: center;
        img {
          height: 75%;
          width: auto;
          margin-top: 10px;
        }
      }
      .Nav {
        transition: .5s;
        max-height: 0;
        overflow: hidden;
        background-color: #fff;
        &--active {
          max-height: 1000px;
          box-shadow: 0 3px 5px #9e9e9e;
        }
        &-item {
          display: block;
          padding: $spacing--medium;
          border-top: solid 1px $color--light;
          margin: 0;
        }
      }
      &-mobileNav {
        position: absolute;
        display: block;
        top: 10px;
        left: 10px;
        height: 50%;
        cursor: pointer;
      }
    }
    .Content {
      margin-top: 75px;
    }
  }
}