<section class="Hero">
  <div class="Hero-contentBox">
    <div class="Hero-innerContentBox">
      <h1 class="Hero-header">the juice station promise</h1>
      <p class="Hero-copy u-Row--medium">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptate officia eveniet fuga dolor illo obcaecati laboriosam accusamus, culpa, quia harum qui esse sed molestias autem, odio unde. Quas, cum! Wuia harum qui esse sed molestias autem, odio unde.
      </p>
    </div>
  </div>
</section>
<section class="MeetTheOwner u-Clear">
  <img src="includes/images/about/temp.jpg" width="35%" alt="Mary MacLeod - The Owner of The Juice Station" class="MeetTheOwner-img" />
  <h2 class="MeetTheOwner-header">meet the owner</h1>
  <p class="u-Row--medium">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui at ipsam quidem in fugiat voluptas architecto, suscipit illum nostrum consectetur accusantium facilis voluptatibus fugit, sint blanditiis laboriosam laborum? Corporis, eos.
  </p>
  <p class="u-Row--medium">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui at ipsam quidem in fugiat voluptas architecto, suscipit illum nostrum consectetur accusantium facilis voluptatibus fugit, sint blanditiis laboriosam laborum? Corporis, eos.
  </p>
  <p class="u-Row--medium">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui at ipsam quidem in fugiat voluptas architecto, suscipit illum nostrum consectetur accusantium facilis voluptatibus fugit, sint blanditiis laboriosam laborum? Corporis, eos.
  </p>
</section>
<section class="AdvisoryBoard">
  <h2 class="u-Row--medium u-Center">
    the advisory board
  </h2>
  <div class="u-FlexBox u-NoMobileFlex">
    <div class="u-FlexBox u-Col">
      <div class="u-Col u-Block--small">
        <img src="includes/images/about/temp_bw.jpg" class="u-Row--small" width="90%" alt="" />
        <h4>advisor name</h3>
        <p class="AdvisoryBoard-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="u-Col u-Block--small">
        <img src="includes/images/about/temp_bw.jpg" class="u-Row--small" width="90%" alt="" />
        <h4>advisor name</h3>
        <p class="AdvisoryBoard-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="u-FlexBox u-Col">
      <div class="u-Col u-Block--small">
        <img src="includes/images/about/temp_bw.jpg" class="u-Row--small" width="90%" alt="" />
        <h4>advisor name</h3>
        <p class="AdvisoryBoard-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="u-Col u-Block--small">
        <img src="includes/images/about/temp_bw.jpg" class="u-Row--small" width="90%" alt="" />
        <h4>advisor name</h3>
        <p class="AdvisoryBoard-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</section>