<section class="Hero">
  <div class="Hero-contentBox">
    <div class="Hero-innerContentBox">
      <h1 class="Hero-header">jump start your body</h1>
      <p class="Hero-copy u-Row--medium">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptate officia eveniet fuga dolor illo obcaecati laboriosam accusamus, culpa, quia harum qui esse sed molestias autem, odio unde. Quas, cum! Wuia harum qui esse sed molestias autem, odio unde.
      </p>
    </div>
  </div>
</section>
<section class="CleanseContent">
  <div class="CleanseContent-item">
    <div class="u-FlexBox u-NoMobileFlex">
      <div class="u-Col">
        <h2 class="u-Row--small">the first cleanse</h2>
        <p class="u-Row--small">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero architecto mollitia cupiditate ipsam! Velit, commodi. Corporis, laborum accusantium. Nihil quo tempora possimus non fugiat repellendus similique nostrum dolores explicabo consectetur.
        </p>
        <div>
          <strong>$60.00</strong>
          <a href="#" class="CleanseContent-cta">buy now</a>
        </div>
      </div>
      <div class="u-Col u-ColMargin">
        <img src="includes/images/cleanse/temp.jpg" class="CleanseContent-img" alt="" />
      </div>
    </div>
  </div>
  <div class="CleanseContent-item">
    <div class="u-FlexBox u-NoMobileFlex">
      <div class="u-Col">
        <h2 class="u-Row--small">the first cleanse</h2>
        <p class="u-Row--small">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero architecto mollitia cupiditate ipsam! Velit, commodi. Corporis, laborum accusantium. Nihil quo tempora possimus non fugiat repellendus similique nostrum dolores explicabo consectetur.
        </p>
        <div>
          <strong>$60.00</strong>
          <a href="#" class="CleanseContent-cta">buy now</a>
        </div>
      </div>
      <div class="u-Col u-ColMargin">
        <img src="includes/images/cleanse/temp.jpg" class="CleanseContent-img" alt="" />
      </div>
    </div>
  </div>
  <div class="CleanseContent-item">
    <div class="u-FlexBox u-NoMobileFlex">
      <div class="u-Col">
        <h2 class="u-Row--small">the first cleanse</h2>
        <p class="u-Row--small">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero architecto mollitia cupiditate ipsam! Velit, commodi. Corporis, laborum accusantium. Nihil quo tempora possimus non fugiat repellendus similique nostrum dolores explicabo consectetur.
        </p>
        <div>
          <strong>$60.00</strong>
          <a href="#" class="CleanseContent-cta">buy now</a>
        </div>
      </div>
      <div class="u-Col u-ColMargin">
        <img src="includes/images/cleanse/temp.jpg" class="CleanseContent-img" alt="" />
      </div>
    </div>
  </div>
</section>