<section class="Hero">
  <div class="Hero-contentBox">
    <div class="Hero-innerContentBox">
      <h1 class="Hero-header">sign up for deliveries!</h1>
      <p class="Hero-copy u-Row--medium">
        We have a limited amount of slots open for deliveries at the moment. Please use the form below to request a desired time, what you'd like delivered, and where it's going. We'll get back to you as soon as possible with steps to move&nbsp;forward.
      </p>
    </div>
  </div>
</section>
<section class="DeliveriesContent">
  <form class="DeliveriesForm">
    <table cellpadding="0" cellspacing="0" class="u-Row--large">
      <tr>
        <td class="DeliveriesForm-label">
          <label for="name">name</label>
        </td>
        <td class="DeliveriesForm-field">
          <input type="text" name="name" placeholder="enter your name" />
        </td>
      </tr>
      <tr>
        <td class="DeliveriesForm-label">
          <label for="address">address</label>
        </td>
        <td class="DeliveriesForm-field">
          <input type="text" name="address" placeholder="enter your address" />
        </td>
      </tr>
      <tr>
        <td class="DeliveriesForm-label">
          <label for="town">town</label>
        </td>
        <td>
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td class="DeliveriesForm-field">
                <input type="text" name="town" placeholder="enter your town" />
              </td>
              <td class="DeliveriesForm-label">
                <label for="zip">zip</label>
              </td>
              <td class="DeliveriesForm-field">
                <input type="text" name="zip" placeholder="enter your zip code" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="DeliveriesForm-label">
          <label for="email">email</label>
        </td>
        <td class="DeliveriesForm-field">
          <input type="email" name="email" placeholder="enter your email address" />
        </td>
      </tr>
      <tr>
        <td class="DeliveriesForm-label">
          <label for="phone">phone</label>
        </td>
        <td class="DeliveriesForm-field">
          <input type="phone" name="phone" placeholder="enter your phone number (optional)" />
        </td>
      </tr>
    </table>
    <label for="request" class="DeliveriesForm-labelTextArea">what would you like?</label>
    <textarea name="request" class="DeliveriesForm-request"></textarea>
    <label for="frequency" class="DeliveriesForm-labelTextArea">how often would you like it?</label>
    <textarea name="frequency" class="DeliveriesForm-frequency"></textarea>
    <button type="submit" class="DeliveriesForm-submit">submit request</button>
  </form>
</section>