 <section class="Hero">
  <div class="Hero-contentBox">
    <div class="Hero-innerContentBox">
      <h1 class="Hero-header">sign up for&nbsp;deliveries!</h1>
      <p class="Hero-copy u-Row--medium">
        We have a limited amount of slots open for deliveries at the moment. Please use the form below to request a desired time, what you'd like delivered, and where it's going. We'll get back to you as soon as possible with steps to move&nbsp;forward.
      </p>
    </div>
  </div>
</section>
<section class="DeliveriesContent" id="js-delivery-request">
  {{# delivery_request.success }}
    <h2 class="{{^is_ajax}}u-Block--large{{/is_ajax}} u-Center">Thanks for requesting our delivery service!<br/>We'll get back to you as soon as possible with more information.</h2>
  {{/ delivery_request.success }}
  {{^ delivery_request.success }}
    {{# delivery_request.error_messages }}
      <p class="u-ErrorMessage">{{{ delivery_request.error_messages }}}</p>
    {{/ delivery_request.error_messages }}
    <form class="DeliveriesForm" method="POST">
      <input type="hidden" name="delivery_request" value="1" />
      <table cellpadding="0" cellspacing="0" class="u-Row--large">
        <tr>
          <td class="DeliveriesForm-label">
            <label for="name">name</label>
          </td>
          <td class="DeliveriesForm-field">
            <input type="text" name="name" placeholder="enter your name" id="js-name-field" />
          </td>
        </tr>
        <tr>
          <td class="DeliveriesForm-label">
            <label for="address">address</label>
          </td>
          <td class="DeliveriesForm-field">
            <input type="text" name="address" placeholder="enter your address" id="js-address-field" />
          </td>
        </tr>
        <tr>
          <td class="DeliveriesForm-label">
            <label for="town">town</label>
          </td>
          <td class="DeliveriesForm-field">
            <input type="text" name="town" placeholder="enter your town" id="js-town-field" />
          </td>
        </tr>
        <tr>
          <td class="DeliveriesForm-label">
            <label for="zip">zip</label>
          </td>
          <td class="DeliveriesForm-field">
            <input type="text" name="zip" placeholder="enter your zip code" id="js-zip-field" />
          </td>
        </tr>
        <tr>
          <td class="DeliveriesForm-label">
            <label for="email">email</label>
          </td>
          <td class="DeliveriesForm-field">
            <input type="email" name="email" placeholder="enter your email address" id="js-email-field" />
          </td>
        </tr>
        <tr>
          <td class="DeliveriesForm-label">
            <label for="phone">phone</label>
          </td>
          <td class="DeliveriesForm-field">
            <input type="phone" name="phone" placeholder="(optional)" id="js-phone-field" />
          </td>
        </tr>
      </table>
      <label for="request" class="DeliveriesForm-labelTextArea">what would you like?</label>
      <div class="DeliveriesForm-textAreaWrap">
        <textarea name="request" class="DeliveriesForm-request" id="js-request-field"></textarea>
      </div>
      <label for="frequency" class="DeliveriesForm-labelTextArea">how often would you like it?</label>
      <div class="DeliveriesForm-textAreaWrap">
        <textarea name="frequency" class="DeliveriesForm-frequency" id="js-frequency-field"></textarea>
      </div>
      <button type="submit" class="DeliveriesForm-submit" id="js-delivery-request-submit">submit request</button>
    </form>
  {{/ delivery_request.success }}
</section>